<style type="text/css"> 
  #monEntete{width:100%;text-align:center;margin:auto;} 
  #maDivMenu{padding:25px 15px 0 15px;background:#fcead9;} 
  ul#monMenu{list-style-type:none;width:100%;position:relative;height:27px;font-family:"Trebuchet 
MS",Arial,sans-serif;font-size:13px;font-weight:bold;margin:0;padding:11px 0 0 0;} 
 ul#monMenu li{display:block;float:left;margin:0 0 0 24px;height:27px;} 
 ul#monMenu li.left{margin:0;} 
 ul#monMenu li a{display:block;float:left;color:#e06c08;background:#fdf1e5;line-height:27px;text-decoration:none;padding:0 17px 0 18px;height:27px;} 
 ul#monMenu li a.right{padding-right:19px;} 
 ul#monMenu li a:hover{color:#fdf1e5;background:#e06c08;} 
 ul#monMenu li a.current{color:#fdf1e5;background:#e06c08;} 
 ul#monMenu li a.current:hover{color:#fdf1e5;background:#e06c08;} 
 #contenuPage {width:100%;margin-top:10px;} 
  table.calc {width:20px;height:150px;margin:auto;border-spacing:0;border:10px solid #e06c08;} 
  table.calc td.ecran {padding:10px;background-color:#fdf1e5;border-bottom:5px solid #e06c08;} 
  table.calc td.boutons {padding:10px;background-color:#fdf1e5;border:0px;} 
  input.unBouton {width:40px;height:30px;text-align:center;font-family:System, sans-serif; font-
size:22px;} 
  input.ecran {width:100%;height:30px;text-align:right;font-family:System, sans-serif; font-size:25px;} 
</style> 